<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

<context: component-scan base-package="com.mx.awsapi"/>

<bean id="s3ObjectService" class="com.mx.awsapi.dao.S3ObjectService" scope="singleton">
</bean>
<bean id="ontologyService" class="com.mx.awsapi.dao.OntologyService" scope="singleton">
</bean>


<bean id="s3ObjectDao" class="com.mx.awsapi.dao.S3ObjectDao" scope="singleton">
</bean>
<bean id="ontologyDao" class="com.mx.awsapi.dao.OntologyDao" scope="singleton">
</bean>
</beans>