<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd"
	xmlns:context="http://www.springframework.org/schema/context">


  <!--  <context:property-placeholder
        location="ontologyKeys.properties"/> -->
        
        
	<context:component-scan base-package="com.mx.awsapi" />


<bean id="ontologyKeys"
      class="org.springframework.beans.factory.config.PropertiesFactoryBean" scope="singleton">
  <property name="locations">
    <list>
      <value>ontologyKeys.properties</value>
    </list>
  </property>
</bean>

	<bean id="test" class="com.mx.awsapi.Test"></bean>

	<bean id="s3ObjectService" class="com.mx.awsapi.service.S3ObjectService"
		scope="singleton">
	</bean>
	<bean id="ontologyService" class="com.mx.awsapi.service.OntologyService"
		scope="singleton">
		<property name="owlFilePath"
			value="/home/manisha/ManishaOntologies/S3ObjectMetaOnto/S3ObjectMetaOnto.owl">
		</property>
		<property name="ns"
			value="http://www.semanticweb.org/ontologies/2015/9/S3ObjectMetaOnto.owl#">
		</property>
		<property name="dc"
			value="http://purl.org/dc/elements/1.1/">
		</property>
	</bean>


	<bean id="s3ObjectDao" class="com.mx.awsapi.dao.S3ObjectDao"
		scope="singleton">
	</bean>
	<bean id="ontologyDao" class="com.mx.awsapi.dao.OntologyDao"
		scope="singleton">
	</bean>
</beans>